.flecheBas {
    animation: float .7s infinite alternate ease-in-out;
}

.text-bio {
    animation: fadeInLeft .7s ease-in-out;

    div {
        opacity: 0;
        animation: inherit;
        animation: fadeInBottom .7s ease-in-out forwards;
        animation-delay: calc(200ms * var(--a));
    }
}

.img-bio {
    opacity: 0;
    animation: fadeInRight .7s ease-in-out 300ms forwards;
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(50px);
    }
}

