$purple : #9333ea;
$pink : #be185d ;
$black : #000;
$white : #fff;
$dark-purple : darken($purple, 30);
$dark-pink : darken($pink, 30);
$light-purple : lighten($purple, 30);
$light-pink : lighten($pink, 30);