body {
    // height: 200vh;
    background-color: black;
}
#bio {
    .text-bio {
        margin-left: 5%;
        padding-top: 10%;
    }
}

.about {
    background: linear-gradient(to bottom, $dark-purple, $dark-pink);
}

.fondFlecheBas {
    background: $dark-purple;
}

.styleTitle {
    background: -webkit-linear-gradient( #e63a82, #932fe4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projet {
    @extend .styleTitle;
}

.contact {
    @extend .styleTitle;
}